@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    width: 800px;
    height: 600px;
    border: 5px solid;
    border-color: white;
}
h1{
    text-align: center;
    width: 100%;
    font-family: 'Jacquard 12', serif;
    color: white;
    font-size: 55px;
}
p{
    text-align: center;
    width: 100%;
    color: white;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}